<div class='row'>
  <div class='col-md-6'>
    <h4>Appointment form</h4>
    <%= render 'appointment' %>
  </div>

  <div class='col-md-6'>
    <h4>Contact form</h4>
    <%= render 'contact' %>
  </div>
</div>