<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>About</h2>
      <h4>Quality care | Low cost | No delays</h4>
        <p>
          ClinicsAbroad.com is a free online service that allows you to find and schedule appointments for high quality, elective treatments abroad - dental procedures, cosmetic treatments, general checkups and other elective surgeries.
        </p>
        <p>
          With ClinicsAbroad.com you'll be able to save up to 70% on elective treatments versus treatment at home.
        </p>
        <p>
          ClinicsAbroad.com enables you to find and schedule appointments with dentists, doctors and specialists in Thailand, Malaysia, Philippines, Singapore, South Korea, Mexico, Costa Rica, Poland, Hungary, Czech Republic, Spain, Greece, Croatia, Macedonia and Montenegro.
        </p>
    </div>
    <div class='col-md-6'>
      <h2>Contact</h2>
        <p>
          ClinicsAbroad.com is a global company with offices in San Francisco and Bangkok.
        </p>
        <p>
          ClinicsAbroad.com can be reach 24/7 at:
        </p>
        <p>
          Email: support@clinicsabroad.com
        </p>
        <p>
          Telephone: +1-111-1111
        </p>
        <p>
          <a href="https://plus.google.com/111411763848786474737" rel="publisher">Google+</a>
        </p>


    </div>
  </div>
</div>