<h2>Privacy Policy</h2>

<p>1. Introduction</p>

<p>Welcome to http://www.clinicsabroad.com/ a website for finding and comparing health clinics around the world and to connect users and providers of healthcare, aesthetic, holistic and similar services, and other services provided by parties listed on the website www.clinicsabroad.com (these services are referred to in these Terms of Use as "Services" and the providers of the Services (including all individual medical practitioners, hospitals and clinics and) are referred to as "Providers" and/or "Clinics"). It gives you the opportunity to search for, find and contact medical services provided by Clinics and Providers across the globe. It also provides a platform on which Registered Users (defined below) may purchase vouchers to avail to Services (a "Voucher"). clinicsabroad.com and the facilities, services and materials available thereon (the "Website") is owned and operated by XXXXXXX as clinicsabroad.com (" www.clinicsabroad.com") an XXXX registered company, number XXXX whose head office is at XXXXXXX. For the purpose of these Terms of Use "we", "our" and "us" refers to clinicsabroad.com.</p>

<p>2. Important Notice</p>

<p>1.clinicsabroad.com is not involved in the provision of any healthcare or medical advice or diagnosis. Any information provided on the Website is intended as a guide only and should not be construed as a substitute for professional medical advice. The website is a service that displays information on Providers and/or Clinics that has been gathered from the Healthcare Provider or the internet and which facilitate Registered Users purchasing Vouchers. We do not screen or validate any content posted by Clinics and/or Providers, nor do we endorse any particular Clinic and/or Provider. If you decide to engage a Clinic or Provider to provide Services to you (including by purchasing a Voucher on our Website), you do so at your own risk. In this regard you should note that certain Clinics and/or Providers listed on this Website are located in jurisdictions where insurance is not available or mandatory in respect of the medical services they offer. We would recommend that you undertake your own research into any Clinic and/or Provider listed on the Website and that you should consult with your doctor or primary healthcare provider before engaging any Clinic and/or Provider from this Website. You should be aware that the results of any search you perform on the Website for Clinics and/or Providers should not be construed as endorsement by clinicsabroad.com of any particular Clinic and/or Provider or constituting any comparative ranking of any Clinic and/or Providers.</p>

<p>3. Services We Do Not Provide</p>

<p>1.clinicsabroad.com is not a medical referral service and does not endorse, recommend, or approve any Clinic and/or Provider listed in the Website. We are not medical professionals nor do we hold ourselves out to be medical professionals and will not discuss or advise on any issues relating to medical treatment with Clients (defined below) or Clinics and/or Providers.</p>

<p>2. Except in circumstances where you have purchased a Voucher, clinicsabroad.com is not involved in any transaction between you and Clinics and/or Providers who use this Website. If you purchase a Voucher, our only responsibility is to process or facilitate payment for the Voucher and email you confirmation of purchase and/or the Voucher. The responsibility for managing appointments and delivering the relevant services will be solely that of the relevant Clinic and/or Provider on whose behalf we have sold the Voucher. We cannot assure that all transactions will be completed nor do we guarantee the ability or intent of any Clinic and/or Provider to fulfil their obligations in any transactions.</p>

<p>3. As we cannot control the information provided by any Clinic and/or Provider or information sourced by clinicsabroad.com from the Internet that is made available through this Website, clinicsabroad.com does not guarantee or endorse the authenticity, quality, safety or legality of any Clinic and/or Provider or the services provided or purported to be provided by any Clinic and/or Provider, the accuracy of any listings or any Clinic and/or Provider data we may provide to you, or the ability of any Clinics and/or Providers to complete a transaction.</p>

<p>4. Services We Do Provide</p>

<p>
2. clinicsabroad.com gathers information from various worldwide Clinics and Providers about their facilities and services as well as from a large number of publicly available websites. You can access this information via our Website. This information should assist you in making a decision on choosing your preferred Clinic or Provider by conducting your own research into such Clinics or Providers. If you choose a Clinic or Provider to provide Clinical Services, then we will facilitate contact between you and the Clinic or Provider, by providing your information to the Clinic or Provider (the "Website Service") or providing you with the contact information of the Clinic or Provider.</p>

<p>3.You may simply wish to browse through the Website to see what clinicsabroad.com has to offer. If this is the case, then only some of the provisions of these Terms of Use will be applicable to your use of the Website and other provisions will not be relevant.</p>

<p>5. Purchase of Vouchers</p>

<p>1. If you wish to purchase a Voucher, you must create an account on the Website (and thereby become a "Registered User"), make a payment by credit or debit card, through your PayPal account (or other payment mechanisms which we may provide from time to time) and agree to these Terms of Use. To become a Registered User, you must set up a personalised account with a password, give us certain personal information, such as your name, residential address, date of birth, e-mail address and mobile number, and agree to be bound by these Terms of Use. You may only set up one account with clinicsabroad.com and you may not create multiple accounts using different e-mail addresses.</p>

<p>2. Your completion of an order to purchase a Voucher represents your offer to purchase a Voucher on these Terms of Use, and must be accepted by WhatClinc.com. Once an offer has been accepted by us, and purchase of the Voucher is complete we will email you a copy of the Voucher. The purchase of a Voucher will form a contract between you and us under which you pay us for the Voucher and we are obliged to send you the Voucher by e-mail. clinicsabroad.com is acting solely as an intermediary in the sale of Vouchers and has no responsibility for any matters associated with the redemption of Vouchers and/or the Services provided to you on redemption of Vouchers, which are the sole responsibility of the relevant Clinic and/or Provider.</p>

<p>3. By submitting an offer to purchase a Voucher you represent and warrant to us that you are at least eighteen years of age and resident in the United Kingdom and your purchase of the Voucher is for your personal, non-commercial use.</p>

<p>4. If we cannot process your offer to purchase a Voucher we will notify you, and (if we have taken payment for the Voucher) we will refund you the price of the Voucher. The circumstances where your offer may not be accepted include the promotion no longer being available, or your payment not being authorised.</p>

<p>5. You may cancel your purchase of the Voucher within 7 business days from the day after you receive the Voucher provided you have not redeemed the Voucher during that time. If you wish to cancel your Voucher during that time, please call us on +353 (0)1 906 0122 or +44 (0)203 627 9137 or email us at vouchers@clinicsabroad.com. If you do cancel your purchase the Voucher during that time by calling or emailing us, we will refund you the price you paid for the Voucher.</p>

<p>6. Once we have emailed you the Voucher you may redeem it from the relevant Clinic or Provider you may redeem the Voucher by making direct contact with the relevant Clinic or Provider to make an appointment prior to the expiry date of the Voucher. At the time of making your appointment you must advise the Clinic or Provider of your intention to redeem the Voucher at the time of the appointment. After the expiry date, you will have no further right to use or redeem the Voucher and you will not be entitled to any credit, compensation or reimbursement if you do not redeem your Voucher prior to its expiry date. . The Voucher must be redeemed in its entirety when presented for redemption. Unless the relevant Clinic or Provider allows otherwise, the Voucher may not be used in conjunction with any other offers and/or promotions of the Clinic or Provider (whether such offers and/or promotions are made directly by the relevant Clinic or Provider or through other third parties). Your redemption of the Voucher forms a separate contract between you and the relevant Clinic or Provider for the Services and may be subject to the terms and conditions of the Clinic or Provider.</p>

<p>7. You may not alter, reproduce or sell any Voucher. If you do any attempt to do so, we may, at our sole discretion, cancel the Voucher.</p>

<p>8. Neither clinicsabroad.com, nor any Clinic or Provider will have any responsibility to you for any lost or stolen Vouchers.</p>

<p>9. You agree that by becoming a Registered User and/or purchasing a Voucher we may send you emails with details of current promotions, your account activity, Vouchers purchased by and/or updating you on policies, terms and conditions and similar matters relating to the Website. If you do not wish us to contact you for marketing purposes, you may notify us by following the "unsubscribe" links on email communications issued by us and/or contacting us directly at +353 (0)1 906 0122.</p>

<p>10. Subject to the additional Terms of Use set out at section 14 of these Terms of Use, by purchasing a Voucher you agree and acknowledge that:</p>

<p>(a) WhatClinc.com is acting merely as intermediary between you and the relevant Clinic or Provider and our obligations are limited to processing payment for the Voucher and emailing you confirmation of purchase and the Voucher; clinicsabroad.com gives no representations and/or warranties regarding the Services and has no responsibility or liability for any of the Services to be provided on redemption of the Voucher (including but not limited scheduling availability of the Clinic or Provider);</p>

<p>(b) The relevant Clinic or Provider shall be solely responsible all loss, liability, damages, costs, claims, injuries and/or illnesses suffered by you, caused in whole or in part by the relevant Clinic or Provider and/or resulting from the relevant Services rendered on redemption of a Voucher;</p>

<p>(c) Your remedies against clinicsabroad,com are limited to breach of contract of these Terms of Use;</p>

<p>(d) The liability of clinicsabroad.com to you for any loss shall not in any circumstances exceed the of the price of the Voucher.</p>

<p>6. Content Policy</p>

<p>1.clinicsabroad.com acts as a passive conduit for the online distribution and publication of information submitted through the Website, and has no obligation to screen content or information in advance and is not responsible for screening or monitoring material posted by you or Clinics and/or Providers. You are solely responsible for the content and information you provide to us to be published on the Website through our data entry forms or otherwise. We reserve the right to edit or remove your content if we believe it is untrue or that it may create liability for us.</p>

<p>2.You acknowledge we may publish your reviews of Clinics and/or Providers or the services provided to you by Clinics and/or Providers either on the Website or on associated or linked websites and you consent to the unrestricted publication of such reviews. When posting a review of a Clinic or Provider to clinicsabroad.com you must abide by current review policies which include:</p>

<p>- Review cannot be defamatory</p>

<p>- Review must be family friendly (no profanity, etc.)</p>

<p>- No hearsay. You cannot make a statement about what someone else has said.</p>

<p>- No personal insults</p>

<p>- No reports of criminal activity (these must be reported to the proper authority)</p>

<p>- Commercial information of any kind including email address or phone numbers</p>

<p>- Content not relevant to other potential customers</p>

<p>- Review must use standard email etiquette (not all CAPS, no HTML, etc.)</p>

<p>- We may choose to reject reviews where we cannot contact you by email or phone</p>

<p>3.Other terms of the content policy with regard to reviews and other user-provided text on the Website are covered in the review policy.</p>



<p>7. Age and Responsibility</p>

1.You should note that the Website Service is only available to, and may only be used by individuals who are legally entitled to form such contracts under law in the jurisdiction in which they reside. If you are under the age of eighteen, you should not access and or use this Website or the Website Services or purchase (or attempt to purchase) any Voucher. By accessing and using this Website, you warrant that you are over the age of eighteen.</p>

<p>8. Data Protection</p>

<p>1.For the purpose of these Terms of Use "Data" means all electronic data or information, including personal data as defined in the Data Protection Acts, 1988 and 2003 (the "DP Acts") submitted by you onto the Website and transferred by clinicsabroad.com to the Clinic or Provider, the processing of which is necessary to conclude the contract between you and the Clinic or Provider. You recognise and acknowledge that in order to facilitate the provision of Services to you, we will need to provide certain details of your personal information, including any medical information you provide us with, to Clinics or Providers whom you wish to arrange a consultation with. You explicitly consent to the transfer and disclosure of your personal information to such Clincs and/or Providers even where such Clinics and/or Providers are based in countries where protections for personal data are not as strong as those in XXXX. We may also use your contact details, including your phone number and email address, to contact you from time to time to update you as to progress in relation to your consultation with a Clinic or Provider and other matters concerning the Website Services. You consent to us contacting you in this regard.</p>

<p>2.clinicsabroad.com endeavours to protect your privacy and the privacy of others who access the Website and use its facilities. For full details of the manner in which clinicsabroad.com uses cookies, the type of information we collect, how we use it and further details concerning the circumstances upon which we disclose information, please read the Privacy Statement which is hereby incorporated into and forms part of these Terms of Use.</p>

<p>3.clinicsabroad.com operates servers outside of the European Union therefore you hereby agree to the transfer of personal data outside the European Union. By using this website, you agree to clinicsabroad.com holding and processing, both electronically and manually, personal data about you (including sensitive personal data as defined in the Data Protection Acts 1988-2003) for the operation, management, security and administration of clinicsabroad.com and complying with applicable laws, regulations and procedures, including transfer of personal data outside the European Union.</p>

<p>4.Communication between you and a Clinic and/or Provider via email may be sent through clinicsabroad.com. The content of these emails may be retained by clinicsabroad.com in order to assist clients and clinics in tracking their communication.</p>

<p>5.Communication between you and a Clinic and/or Provider by phone may be routed through clinicsabroad.com. The time and date, success or failure and telephone numbers may be stored by clinicsabroad.com, in order to assist you and the Clinic and/or Provider in tracking phone communication between you and the Clinic and/or Provider. An audio recording of the call may also be stored. If the audio of a telephone call will be recorded then you will hear an audible message informing you of this in advance of the call beginning.</p>

<p>6. By signing up to become a Registered User you agree that we may send you advertisements and/or promotional material by email, including information about Vouchers you have purchased. If you do not wish us to contact you for marketing purposes, you may notify us by following the "unsubscribe" links on email communications issued by us and/or contacting us directly at +353 (0)1 906 0122.</p>

<p>9. Provision of Information</p>

<p>1.If you wish to arrange a consultation with a Clinic and/or Provider, then you will be asked to provide certain information including details such as your contact details (phone number and email address), age and gender and some medical information to allow us to present your data to Clinics and/or Providers who may be interested in providing Services to you. You warrant and undertake that the information provided by you is up-to-date, accurate in all material respects, not the confidential property of others or in violation of any third party's rights, and is sufficient for us to facilitate the Website Services. Although clinicsabroad.com endeavours at all times to respect your privacy, you should not provide any information that may cause you personal damage if made public.</p>

<p>2.Information sent over the Internet cannot be guaranteed to be completely secure as it is subject to possible interception, loss or alteration. You understand and agree to assume the security risk for any information you provide using the Website. We are not responsible for any information sent over the Internet and will not be liable to you or anyone else for any damages or other loss incurred in connection with any information sent by you to us or to a Clinic and/orProvider, or any information sent by us, a Clinic and/or Provider or any third party to you over the internet.</p>

<p>10. Suspension/ Termination</p>

1.clinicsabroad.com may at any time, without notice to you, suspend or terminate your access to this Website, or any service forming part of this Website, wholly or partially, for any reason including, without limitation, where you have provided false or misleading information, or you are in breach of these Terms of Use, or if clinicsabroad.com cannot verify or authenticate any information submitted to the Website. clinicsabroad.com is not liable to you or any third party for any suspension or termination of access to this Website.</p>

<p>11. Use of website</p>

<p>1.You agree not to use this Website or any of its facilities and/or services for any purpose that is unlawful or prohibited by these Terms of Use including but not limited to:</p>

<p>(a). Any commercial purpose including but not limited to creating, checking, confirming, updating or amending your own or someone else's databases, records, directories, customer lists, mailing or prospecting lists;</p>

<p>(b). Any purpose that is fraudulent, unlawful or prohibited by these Terms of Use;</p>

<p>(c). Copying, modifying, transmitting, displaying, distributing, performing, reproducing, licensing, publishing, creating derivative works from, transferring or selling any information, software, products and services contained on or forming part of this Website, or otherwise using such content of the Website for resale, redistribution or for any other commercial use whatsoever including but not limited to any other website, surveys, contests or pyramid schemes.</p>

<p>(d). Accessing or using the Website in and from jurisdictions which restricts or prohibits same by local law;</p>

<p>(e). Accessing or using the Website in any manner which could damage, disable, overload, flood, mail bomb, crash or impair the Website or interfere with any other party's use and/or enjoyment of the Website;</p>

<p>(f). Posting or transmitting, whether on a bulletin board, forum or otherwise, to or from the Website any unlawful, harassing, threatening, libellous, defamatory, tortious, obscene, hateful, scandalous, inflammatory, pornographic or profane material, or any other material that could give rise to any civil or criminal liability under law;</p>

<p>(g). Transmitting material which may cause harm to clinicsabroad.com’s or any other party's computer systems, including but not limited to any material which contains viruses, Trojan horses, worms, spyware, adware, time bombs, cancelbots or other computer programming routines or engines that are intended to damage, destroy or otherwise impair a computer's functionality or the operation of the Website;

<p>(h). Harassing, harming or abusing another person, or contacting, advertising, soliciting, selling to any other person without their prior written consent or transmitting or relaying spam, junk email or chain letters;</p>

<p>(i). Accessing data or materials not intended for your use; logging into a server or account which you are not authorised to access; attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorisation; or impersonating any person or entity, or falsely stating or otherwise misrepresenting their identity or affiliation in any way;</p>

<p>(j). Attempting to gain unauthorised access to the Website, or any computer systems or networks connected to any clinicsabroad.com website, through hacking, password miming or any other means; or</p>

<p>(k). Harvesting or otherwise collecting by any means any programme material or information (including without limitation email address or details of other users) from the Website or monitoring, mirroring or copying any content of the Website without the prior written consent of clinicsabroad.com.</p>

<p>2.The pages contained in this Website may contain technical inaccuracies and typographical errors. The information on this Website may be updated from time to time but we do not accept any responsibility for keeping the information in these pages up-to-date, nor any liability for any failure to do so.</p>

<p>3.clinicsabroad.com reserves the right, at its sole discretion, to pursue all of its legal remedies upon breach by you of these Terms of Use, including but not limited to removal of your postings and content from this Website, closing your account and/or restricting your ability to access this Website and use the Website Services.</p>

<p>12. Copyright Notice and Limited Licence</p>

<p>1.The information, content, graphics, text, sounds, images, buttons, trademarks, service marks, get-up, business names, domain names, rights in good will, know-how, designs and rights in designs, trade names and logos (whether registered or unregistered) (the "Materials") contained in this Website are protected by copyright, trade mark, database right, sui generis right and other intellectual property laws and are also protected under national laws and international treaties. clinicsabroad.com and/or its licensors (as the case may be) retain all right, title, interest in and intellectual property rights to the Materials. Use of third party trademarks is for description and identification purposes only. Such trademarks are the registered trademarks of their registered owners. clinicsabroad.com asserts absolutely no ownership or other rights with respect to such third party trademarks.</p>

<p>2.Any other use of the Materials on this Website, including any form of copying or reproduction, modification, distribution, uploading, re-publication, extraction, re-utilisation, incorporation or integration with other Materials or works or re-delivery using framing technology, without the prior permission of clinicsabroad.com is strictly prohibited and is a violation of the proprietary rights of clinicsabroad.com. Other than as expressly provided herein, nothing in these Terms of Use should be construed as conferring, by implication or otherwise, any licence or right under any copyright, patent, trade mark, database right, sui generis right or other intellectual property or proprietary interest of clinicsabroad.com, its licensors or any third party.</p>

<p>3.You agree to grant clinicsabroad.com a non-exclusive, royalty free, world-wide, transferable perpetual licence, with the right to sub-licence, reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any Materials and other information, including without limitation ideas contained therein for new or improved services, when you submit to the Website either during the registration process or otherwise, including any information or materials you post to a bulletin board or evaluation forum on the website.</p>

<p>13. Disclaimers</p>

<p>1.This clause limits clinicsabroad.com's legal liability to you for your access to and use of the Website. You should read this clause carefully. You acknowledge that you have agreed to these Terms of Use relying on the disclaimers stated herein and that those disclaimers are an essential basis of this contract.</p>

<p>2.The website is available to all users "as is" and, to the greatest extent permitted by applicable law, the website is made available without any representations or warranties of any kind, either express or implied. clinicsabroad.com makes no representations, warranties or undertakings about the services or materials available on the website, including without limitation, their merchantability, quality or fitness for a particular purpose. All information provided on the website is intended as a guide only and should not be construed as a substitute for professional medical advice and clinicsabroad.com makes no representations, warranties or undertakings as to the accuracy of any information provided on this website. clinicsabroad.com makes no representations, warranties or undertakings that the website, or the server that makes it available, will be free from defects, including, but not limited to viruses or other harmful elements. To the maximum extent permitted by applicable law, clinicsabroad.com accepts no liability for any infection by computer virus, bug, tampering, unauthorised access, intervention, alteration or use, fraud, theft, technical failure, error, omission, interruption, deletion, defect, delay, or any event or occurrence beyond the control of clinicsabroad.com, which corrupts or affects the administration, security, fairness and the integrity or proper conduct of any aspect of the Website. All use by you of the Website is at your own risk. You assume complete responsibility for, and all risk of loss resulting from, your downloading or using of, or referring to or relying on the facilities, services, materials or products provided on the Website, or any other information obtained from your use of the Website. You agree that, to the maximum extent permitted by applicable law, clinicsabroad.com and providers of telecommunications and network services to clinicsabroad.com will not be liable for damages arising out of your use or your inability to use the Website, and you hereby waive any and all claims with respect thereto, whether based on contract, tort or other grounds. No advice or information, whether oral or written, obtained by you from clinicsabroad.com shall be deemed to alter this disclaimer of warranty, or to create any warranty.</p>

<p>3.To the fullest extent permitted by applicable law, clinicsabroad.com assumes no responsibility nor do we grant any warranties, express or implied relating to the operation, safety, condition or service of any Clinic, Provider or any healthcare professional or any doctor or any other person associated with the Clinic and/or Provider that is used by, for or on behalf of, you. clinicsabroad.com is not liable for the acts, errors, omissions, representations, warranties, breaches or negligences of any Clinic and/or Provider or any doctor or any other persons associated with such Clinic and/or Provider or for losses, damages or expenses resulting therefrom.</p>

<p>14. Limitation of Liability</p>

<p>1.To the fullest extent permitted by applicable law, neither clinicsabroad.com nor any of its officers, directors, employees, affiliates or other representatives will be liable for loss or damages arising out of or in connection with your use of any facilities, services and the website services offered or transactions entered into through or from this Website, including, for the avoidance of doubt, your transactions with Clinics and/or Providers or medical services facilitated through this Website, including, but not limited to, direct, indirect or consequential losses or damages, loss of data, loss of income, profit or opportunity, loss of, or damage to, property and claims of third parties, even if clinicsabroad.com has been advised of the possibility of such loss or damages, or such loss or damages were reasonably foreseeable.</p>

<p>2.In no event shall clinicsabroad.com nor any of its officers, directors, employees, affiliates or other representatives be liable for any damages whatsoever resulting from the statements or conduct of any Clinic and/or Provider or third party or the interruption, suspension or termination of the website services, whether such interruption, suspension or termination was justified or not, negligent or intentional, inadvertent or advertent.</p>

<p>3.Without limiting the foregoing, under no circumstances shall clinicsabroad.com nor any of its officers, directors, employees, affiliates or other representatives be held liable for any delay or failure in performance of the website or the website services resulting directly or indirectly from acts of nature, forces or causes beyond its reasonable control, including, without limitation, internet failure, computer equipment failures, telecommunication failures, other equipment failures, electrical power failures, strikes, lay-way disputes, riots, interactions, civil disturbances, shortages of labour or materials, fires, floods, storms, explosions, acts of god, war, governmental actions, orders of domestic or foreign courts or tribunals or non-performance of third parties.</p>

<p>4.clinicsabroad.com does not exclude liability for death or personal injury, caused by its negligence or that of its employees or authorised representatives, or for fraud.</p>

<p>15. Indemnity</p>

<p>1.You agree to defend, indemnify and keep indemnified and hold clinicsabroad.com and, as applicable, its officers, directors, employees, affiliates or other representatives, harmless against any and all claims, proceedings, actions, costs, including legal costs, charges, expenses, damages, liabilities, losses and demands made by, or liabilities to, any third party resulting from any activities conducted under your account, your use or misuse of this Website, including but not limited to posting content on this Website, entering into transactions with Clinics and/or Providers, contacting others as a result of their postings on this Website, infringing any third party's intellectual property or other rights, or otherwise arising out of your breach or any breach of these terms of use.</p>

<p>16. Links to Third Party Websites</p>

<p>1.This Website contains links to third party websites. Your use of third party websites is subject to the terms and conditions of use contained within each of those websites. Access to any other website through this Website is at your own risk. clinicsabroad.com is not responsible for, nor liable for, the accuracy of any information, data, opinions, statements made on third party websites or the security of any link or communication with those websites. clinicsabroad.com reserves the right to terminate a link to a third party website at any time. The fact that clinicsabroad.com provides a link to a third party website does not mean that clinicsabroad.com endorses, authorises or sponsors that website, nor does it mean that clinicsabroad.com is affiliated with the third party websites, owners or sponsors. clinicsabroad.com provides these links merely as a convenience for those who use this Website.</p>

<p>17. Availability</p>

<p>1.Although clinicsabroad.com endeavours to ensure the Website is available at all times, there may be occasions when access to the Website may be interrupted, e.g. to allow maintenance, upgrades and emergency repairs to take place, or due to failure of telecommunications links and equipment that are beyond our control. You agree that clinicsabroad.com shall not be liable to you for any loss incurred by you resulting from the modification, suspension or discontinuance of the Website.</p>

<p>2.You have sole responsibility for adequate protection and back-up of any content and data you submit to the Website and for undertaking reasonable and appropriate precautions to scan for computer viruses or other destructive items.</p>

<p>18. Changes in These Terms of Use</p>

<p>1.clinicsabroad.com may modify or terminate any services offered through this website from time to time, for any reason and without notice, and without liability to you, any other client or any third party. clinicsabroad.com reserves the right to change the content, presentation, performance, user facilities and/or availability of any part of this Website, including these terms of use at its sole discretion from time to time. You should check these terms of use for any changes each time you access this Website. Your continued use of the Website and/or clicking on the "I accept" button will signify your acceptance of revised terms of use.</p>

<p>19. Jurisdiction and Governing Law</p>

<p>1.This Website is controlled and operated by clinicsabroad.com from XXXXX. clinicsabroad.com does not make any representation that the facilities, services, including the website service, and/or materials offered through this Website are appropriate or suitable for use in countries other than XXXXXX, or that they comply with any legal or regulatory requirements in any other countries. In accessing this Website, you do so at your own risk and on your own initiative, and are responsible for compliance with local laws, to the extent any local laws are applicable. If it is prohibited to make this Website, facilities, services, including the website service, and/or materials offered through this Website or any part of them available in your country, or to you, whether by reason of nationality, residence or otherwise, this website, the facilities, services and/or materials offered through this website or any part of them are not directed at you.</p>

<p>2.These terms of use shall be governed by and construed in accordance with the laws of XXXXXX and you hereby agree, for the benefit of clinicsabroad.com, and without prejudice to the right of clinicsabroad.com to take proceedings in relation to these terms of use before any court of competent jurisdiction and that courts of XXXXX shall have jurisdiction to hear and determine any actions or proceedings that may arise out of or in connection with these terms of use, and for such purposes you irrevocably submit to the jurisdiction of such courts.</p>

<p>3.The language of any dispute resolution procedure or any proceedings under these terms of use will be English.</p>

<p>20. Miscellaneous</p>

<p>1.Any waiver of any provision of these terms of use must be in writing and signed by clinicsabroad.com to be valid. Any waiver of any provision hereunder shall not operate as a waiver of any other provision, or a continuing waiver of any provision in the future. Each of the provisions of these terms of use is separate and severable and enforceable accordingly. If, at any time, any provision is judged by any court of competent jurisdiction to be void or unenforceable the validity, legality and enforceability of the remaining provisions shall not in any way be affected or impaired. Nothing in these terms of use shall constitute, or be deemed to constitute, a partnership between you and clinicsabroad.com, nor shall either party be deemed to be the agent of the other party. These terms of use represent the entire understanding and agreement between you and clinicsabroad.com relating to use of this website, its facilities and/or services, including the website service, and supersede any and all prior statements, understandings and agreements.</p>