<p>
  © 2014 ClinicsAbroad.com, Inc. | <%= link_to "About", about_path %> | <%= link_to "Contact", about_path %> | <a href="https://plus.google.com/111411763848786474737" rel="publisher">Google+</a>
</p>